<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paytabs>
                <active>0</active>
                <model>ShopGo\Paytabs\Model\paytabs</model>
                <title>Paytabs</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <sort_order>0</sort_order>
                <redirect_url>paytabs/standard/redirect</redirect_url>
                <return_url>paytabs/standard/response</return_url>
            </paytabs>
        </payment>
    </default>
</config>